[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.block-info {
	padding: 30px 30px 30px 40px;
	position: relative;
}
.block-info > .glyphicon {
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -7px;
}
.tab-content > .row {
	padding: 10px;
}
label.optional {
	font-weight: normal;
}
.with-border-top {
	border-top: 1px solid #ccc;
	padding-top: 5px !important;
	margin-top: 5px !important;
}
.check-group {
	padding: 15px !important;
	border: 1px solid #ccc;
}
#corrective h4 {
	margin:0 !important;
}
.with-table {
	margin-top: 20px;
}
.without-left-border .fixed-table-container tbody td {
	border-left: none !important;
}