[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.block-info {
	padding: 30px 30px 30px 40px;
	position: relative;
}
.block-info > .glyphicon {
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -7px;
}
.tab-content > .row {
	padding: 10px;
}
label.optional {
	font-weight: normal;
}
.with-border-top {
	border-top: 1px solid #ccc;
	padding-top: 5px !important;
	margin-top: 5px !important;
}
.check-group {
	padding: 15px !important;
	border: 1px solid #ccc;
}
#corrective h4 {
	margin:0 !important;
}
.with-table {
	margin-top: 20px;
}
.without-left-border .fixed-table-container tbody td {
	border-left: none !important;
}

textarea.ng-invalid.ng-dirty,
select.ng-invalid.ng-dirty,
input.ng-invalid.ng-dirty {
	background-color: #FFB5C5;
}

select.ng-invalid.ng-dirty option,
select.ng-valid.ng-dirty option {
	background:#fff;
}
textarea.ng-invalid.ng-dirty:focus,
select.ng-invalid.ng-dirty:focus,
input.ng-invalid.ng-dirty:focus {
	box-shadow:0 0 5px  #FFB5C5;
	border-color:#CD919E;
}
textarea.ng-valid.ng-dirty,
select.ng-valid.ng-dirty,
input.ng-valid.ng-dirty {
	background-color: #90EE90;
}
textarea.ng-valid.ng-dirty:focus,
select.ng-valid.ng-dirty:focus,
input.ng-valid.ng-dirty:focus {
	box-shadow:0 0 5px  #90EE90;
	border-color:#7CCD7C;
}